* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: "Aleo", serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo__text:hover {
    cursor: pointer;
    color: #0D606F;
    opacity: 0.8;
}

.logo__icon {
    background: url("assets/images/svg/logo-icon.svg");
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.logo__text {
    font-family: "Magra", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    color: #FFFFFF;
}

.main-button {
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.main-button:hover {
    cursor: pointer;
    background: #0D606F;
    opacity: 0.8;
}

.section-title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5.3rem;
    color: #F2785C;
    text-align: center;
}

/* -------- HEADER ----------- */

.header-background {
    width: 100%;
    background: url("assets/images/jpg/backgrounds/header-background.jpg") no-repeat center;
}

.header {
    padding: 25px 0;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__navigation {
    width: 527px;
}

.navigation__link {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.navigation__link:hover {
    cursor: pointer;
    color: #0D606F;
    opacity: 0.8;
}

.header__button {
    width: 103px;
    padding: 10px 30px;
}

/* -------- PREVIEW SECTION ------------ */

.preview {
    padding: 32px 0 238px;
}

.preview__container {
    max-width: 900px;
    padding-left: 120px;
}

.preview__title {
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.6rem;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.preview__description {
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.preview__form {
    position: relative;
}

.preview__input {
    width: 892px;
    height: 95px;
    padding-left: 41px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.preview__input::placeholder {
    font-family: 'Aleo', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    color: #F2785C;
}

.preview__button {
    position: absolute;
    width: 228px;
    height: 59px;
    font-size: 2.4rem;
    line-height: 3.2rem;
    left: 646px;
    top: 18px;
}

/* -------- STEPS SECTION -------- */

.steps {
    padding: 90px 0 97px;
}

.steps__title {
    margin-bottom: 40px;
}

.steps__block {
    flex-wrap: wrap;
}

.steps__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps__image {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.steps__image-1 {
    background: url("assets/images/svg/steps-icon-1.svg");
}

.steps__image-2 {
    background: url("assets/images/svg/steps-icon-2.svg");
}

.steps__image-3 {
    background: url("assets/images/svg/steps-icon-3.svg");
}

.steps__text {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #0D606F;
}

/* -------- DESTINATIONS SECTION ---------- */

.destinations {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinations__title {
    margin-bottom: 46px;
}

.destinations__block {
    margin-bottom: 24px;
    gap: 60px;
    overflow: hidden;
    justify-content: center;
}

.destinations__item {
    position: relative;
}

.destinations__image {
    max-width: 800px;
    border-radius: 16px;
}

.destinations__name {
    position: absolute;
    left: 15px;
    top: 718px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    color: #FFFFFF;
}

.slider-points {
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.slider-points__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}

.point-active {
    background: #F2785C;
}

.button-arrow {
    padding: 13px 31px;
    font-size: 2.4rem;
    gap: 10px;
    max-width: 228px;
    align-self: center;
}

.button-arrow__icon {
    display: inline-block;
    width: 35px;
    height: 22.5px;
    background: url("assets/images/svg/button-arrow.svg");
}

/* --------- STORIES SECTION ----------- */

.footer-background {
    background: url("assets/images/jpg/backgrounds/stories-background.jpg") no-repeat;
    background-position: bottom;
}

.stories {
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 40px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories__title {
    margin-bottom: 80px;
}

.stories__block {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.stories__item {
    gap: 40px;
}

.stories__image {
    max-width: 400;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories__subtitle {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    color: #0D606F;
    margin-bottom: 24px;
}

.stories__text {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #0D606F;
}

.stories__link {
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration-line: underline;
    color: #0D606F;
}

/* ----------- FOOTER ------------- */

.footer {
    padding: 13px 0;
}

.footer__rights {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}

.footer__socials {
    gap: 20px;
}

.footer__social {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.instagram {
    background: url("assets/images/svg/socials/instagram-icon.svg") no-repeat;
}

.youtube {
    background: url("assets/images/svg/socials/youtube-icon.svg") no-repeat;
}

.twitter {
    background: url("assets/images/svg/socials/twitter-icon.svg") no-repeat;
}

.social-hover {
    fill: #0D606F;
}